<section class="wrapLoad" *ngIf="myService['loading']">
	 
	       <div><h2>Loading</h2></div>
	       <div class="loading">
	            <div  class="block1 barlittle"></div>
	            <div  class="block2 barlittle"></div>
	            <div  class="block3 barlittle"></div>
	            <div  class="block4 barlittle"></div>
	            <div  class="block5 barlittle"></div>
	      </div>
</section>


<!-- section class="wrap" >
	        <div class="toast div_animation" > -->
			<!--i class="fa fa-check-circle" *ngIf="myService['errorType']=='success'"
			 aria-hidden="true"></i> -->
		    <!-- 
		    &nbsp;&nbsp;xxxxxxxxxxxxxxxxxx
		   </div>
   </section> -->

<div class="toastSuccess dsn">
	<i class="fa fa-exclamation-triangle" ria-hidden="true"></i>
</div>
<div class="toastError dsn">
	<i class="fa fa-exclamation-triangle" ria-hidden="true"></i>
</div>